html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    flex-wrap: wrap;
}

#game-title {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}

#game-title p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#game-status {
    margin: 0rem;
}

#game-body {
    margin-top: 2rem;
    padding: 0rem;
}

#grid-container {
    display: grid;
    grid-gap: 0.2rem;
    background: darkgray;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
}

[class^="grid-box"] {
    background: white;
    text-align: center;
    border: none;
    font-size: 5rem;
    font-style: bold;
}

[class^="grid-box"]:hover {
    background: lightgray;
    transition-duration: 0.5s;
}

[class^="grid-box"]:active {
    background: darkgray;
    transition-duration: 0.5s;
}

#reset-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset {
    font-size: 1.5rem;
    width: 8rem;
    height: 3rem;
    background-color: rgb(230, 230, 230);
    border-width: 0.1rem;
    border-color: lightgray;
    outline: none;
    cursor: pointer;
    border-style: solid;
}

